body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

#qr-code-wrapper {
    margin: 1rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.qr-text {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* クリックイベントを無効にする */
}

.qr-text:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); /* 背景色を設定 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px; /* 余白を設定 */
    margin: -5px; /* 余白を打ち消すためのマージン */
}

label {
    display: block;
    margin-top: 1rem;
}

button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

